@model Book.Models.NguoiQuanLy

@{
    ViewBag.Title = "Create Managers";
    Layout = "~/Views/Shared/ViewAD.cshtml";
}
<div id="addManagerModal" class="modal-fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/NguoiQuanLies/Create" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h4 class="modal-title">Thêm Người Quản Lý</h4>
                    <div style="float:right; text-decoration: none">

                        @Html.ActionLink("Back to List", "Index")
                    </div>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Tên</label>
                        <input type="text" required class="form-control" name="Ten" value="@Html.DisplayFor(model => model.Ten)">
                    </div>
                    <div class="form-group">
                        <label>Khách Hàng</label>
                        @Html.DropDownList("MaKH", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-default" data-dismiss="modal" value="Reset">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>

