@*@model IEnumerable<Book.Models.DatHangs>*@
@model Book.Models.KhachHang
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    <form action="" class="thanhtoan">
        <ul>
            <nav class="sp">
                @*@foreach (var item in Model)
                {
    <div>
        <div class="sp" id="img">
            <img src=@Html.DisplayFor(Model=>item.HinhAnh)>
        </div>
        <div class="sp">
            <label>Số lượng</label>
            @Html.DisplayFor(Model => item.SoLuong)
        </div>
        <div class="sp">
            <label>Giá</label>
            <label id="cost">@Html.DisplayFor(Model => item.ThanhTien)</label>
        </div>
    </div>}*@
            </nav>
            <nav>
                <div>
                    <div class="total">Tổng tiền</div>
                    <label id="total">2222</label>
                </div>
                <div>
                    <button type="submit">Thanh toán</button>
                </div>
            </nav>
        </ul>
    </form>
</body>
</html>