@model Book.Models.KhachHang

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link rel="stylesheet" href="~/Content/StyleBook.css">
    <link rel="stylesheet" href="~/Content/base.css">


</head>
<body>


    <div class="app">

        <form action="/KhachHangs/Register" method="post" class="form__login">


            @Html.AntiForgeryToken()

            <div class="login">

                <h4 style="margin-bottom:1rem">Đăng ký thành viên</h4>
                <hr>

                <br>
                <label class="float-l" for="HovaTen">Họ và tên</label>

                <input class="form-login__input" id="HovaTen" name="HovaTen" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="HovaTen" data-valmsg-replace="true"></span>


                <label class="float-l" for="SoDienThoai">Số điện thoại</label>

                <input class="form-login__input" id="SoDienThoai" name="SoDienThoai" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="SoDienThoai" data-valmsg-replace="true"></span>

                <label class="float-l" for="DiaChi">Địa chỉ</label>

                <input class="form-login__input" id="DiaChi" name="DiaChi" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="DiaChi" data-valmsg-replace="true"></span>


                <label class=" float-l" for="PassWord">Mật khẩu</label>

                <input class="form-login__input" id="PassWord" name="PassWord" type="password" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="PassWord" data-valmsg-replace="true"></span>


                <label class="float-l" for="Gmail">Gmail</label>

                <input class="form-login__input" id="Gmail" name="Gmail" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Gmail" data-valmsg-replace="true"></span>




                <input style="display:none" class="form-login__input" id="Quyen" name="Quyen" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Quyen" data-valmsg-replace="true"></span>

                <button type="submit" class="login__button">Đăng kí</button>

            </div>

        </form>
        <div class="form__login-url">
            @if (Session["UserName"] != null && Session["ad"] != null)
            {
                @Html.ActionLink("Back to List", "Index")
            }


            @Html.ActionLink("Đăng nhập", "Login")
        </div>

    </div>

</body>
</html>
