:root {
    --white-color: #fff;
    --black-color: #000;
    --header-color: #f8f8f8;
    --focus-color: #f0f0f0;
    --border-color: #e0e0e0;
    --text-color: #333;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    line-height: 1.6rem;
    font-family: inherit;
}
.form-control.text-box.single-line {
    padding: 0.5rem 2rem;
    margin: 2rem 0;
    width: 50rem;
    font-size: 1.6rem;
    border-radius: 0.4rem;
    border: 0.2rem solid #666
}
.form-horizontal {
    padding: 1rem 2rem;
}
.form-group{
    margin: 1rem 3rem;
}
input.btn.btn-default {
    background-color: #ffd43b;
    padding: 0.4rem 2rem;
    margin: 0 2rem;
    width: 20rem;
    height: 4rem;
    border: 0.2rem solid #999;
    outline: none;
    font-size: 1.6rem;
    border-radius: 0.5rem;
}
td, th {
    padding: 1rem 2rem;
    width: 6rem;
    text-align: center;
}

tr {
    padding: 1rem;
    height: 1.4rem;
}
dd {
    padding: 0.4rem 1rem 1rem;
    margin-left: 3rem;
}
.font-14 {
    font-size: 1.4rem;
}

.m-t-8 {
    margin: 0.8rem;
}

.text-error {
    color: red;
}

