:root {
    --color-black: #000;
    --color-white: #fff;
    --font-16: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    line-height: 1.6rem;
    font-family: inherit;
}

.font-14 {
    font-size: 1.4rem;
}

.m-t-8 {
    margin: 0.8rem;
}
.text-error {
    color: red;
}