
.book__paging.book__paging-style {
    margin: 5px 30px 10px auto;
    display: inline-block;
    width: 200px;
   
}

.navbar {
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    align-items: flex-end;
}
.invoidce-infor-js {
    font-size: 12px;
    font-size: 12px;
    position: absolute;
    top: -80%;
    left: -10%;
    display: none;
}
.invoidce-infor-js.invoidce-infor-appear{
    display:block;
}

#content {
    margin-top: 100px;
    padding: 20px 0;
    background-color: #fcdab0;
}

.navbar_logo-link {
    display: block;
}

.header-top-banner {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 100px;
}

.navbar_list {
    display: flex;
    align-items: center;
}

.navbar_item {
    position: relative;
    margin: 0 30px;
    color: #FF4000;
}

 .navbar_item:hover {
        color: #FF4000;
 }

.navbar_link {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 10px 5px;
    color: var(--while-color);
    text-decoration: none;
}

    .navbar_link:hover {
        color: rgb(63, 63, 241);
        text-decoration: none;
    }

.navbar_logo {
    position: relative;
    top: -3px;
    display: inline-block;
    flex: 1;
}

.item--category {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black-text);
    font-size: 14px;
    color: var(--color-white);
    border: 1px solid;
    margin: 10px 20px;
    border-radius: 5px;
    background: #fff;
    text-decoration: none;
    font-weight: 400;
}
.list.collapsed a{
    text-decoration: none;
}
.item--category:hover {
    color: #FF4000;
    
}

.general {
    text-align: center;
    background-color: black;
    color: white;
}
input[name=PassWord],
input[type=text] {
    width: 100% ;
    padding: 12px 20px ;
    margin: 8px 0 ;
    display: inline-block ;
    border: 1px solid #ccc ;
    border-radius: 4px ;
    box-sizing: border-box ;
}

input[type=box] {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=submit] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 16px;
}

.book__icon-delete {
    font-size: 1.8rem;
    padding: 0.4rem;
    position: relative;
    z-index: 1;
    top: 10%;
}

form.form_search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #FF4000;
    float: left;
    width: 80%;
    outline: none;
    background: #fff;
}

form.form_search button {
    position: absolute;
    width: 20%;
    padding: 4.5px;
    background: #FFFFCC;
    color: #FF4000;
    font-size: 30px;
    border: 0px solid white;
    border-left: none;
    cursor: pointer;
    top: calc(15% + 1px);
    right: 20.3%;
    border-radius: 4px;
}

    form.form_search button:hover {
        background: #FF4000;
        color: white;
    }

form.form_search::after {
    content: "";
    clear: both;
    display: table;
}

.text-uppercase__link {
    text-decoration: none;
    color: var(--color-white);
    font-size: 2rem;
}

    .text-uppercase__link:hover {
        cursor: pointer;
        color: var(--color-white);
    }

#footer {
   /* z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    top: 100vh;*/
}

.footer-text__infor {
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    padding: 0.4rem;
}
.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}
.link-info {
    text-decoration: none;
    color: blue;
}
.text-error {
    color: red;
}
@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

.form__name__remember-input {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.text-center__font {
    font-size: 1.4rem;
}

.item__book {
    position: relative;
    width: 190px;
    padding: 10px 0;
    background-color: var(--color-white);
    border-radius: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: var(--black-text);
    margin: 10px 0;
}
.img-navbar-background {
    margin-top: 50px;
    transform: translateX(-20px);
    height: 700px;
    width: 120%;
    object-fit: cover;
    vertical-align: central;
}
a.item__book {
    text-decoration: none;
}
 .item__book:hover {
        color: var(--black-text);
 }

.item-div__infor-book-name {
    line-height: 16px;
    display: -webkit-box !important;
    max-height: 16px;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: block;
    margin: 10px 0px 10px 30px;
    font-size: 16px;
}

.item-div__infor-book {
    padding: 2px 30px;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    color: #d22121;
}

.item-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#item-img {
    cursor: pointer;
    border-radius: 10px;
}

    #item-img:hover + #item-detail {
        display: flex;
    }

#item-detail {
    position: relative;
    display: none;
}

#img-detail {
    position: absolute;
    background-color: antiquewhite;
    top: 100%;
    margin: 10px;
    z-index: 1;
}

#detail-square {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: antiquewhite;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%) rotate(45deg);
}

#item-name {
    font-weight: bold;
}

#item-cost {
}

.item-div__book-basket {
    display: flex;
    justify-content: center;
}

.item-atb {
    padding: 5px;
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
    background-image: linear-gradient(90deg,#ff9800,#f7695D);
    color: #fff;
    outline: none;
    border-color: transparent;
    font-size: 14px;
}

    .item-atb:hover {
        background-color: rgb(241, 235, 222);
    }

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 5px;
    font-size: 17px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 23px rgba(0, 0, 0, 0.6);
}

input.star-1:checked ~ label.star:before {
    color: #F62;
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3);
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}


/* Sơn */

.a {
    color: rgb(105, 184, 89);
    text-decoration: none;
}

.content__title {
    font-size: 17px;
    padding: 10px;
    background-color: #f7941e;
    text-align: center;
}

.Service > label .box > img {
    width: 18px;
}

.CheckboxFake .icon-check-on {
    display: block;
}

.CheckboxFake .icon-check-off {
    display: block;
}

.item-div__book {
    width: 140px;
    height: 200px;
    object-fit: cover;
}

body {
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: inherit;
}

.font-14 {
    font-size: 1.4rem;
}

.m-t-8 {
    margin: 0.8rem;
}

.form_search {
    position: relative;
    width: 670px;
    align-items: center;
}

.navbar_logo__icon {
    width: 260px;
    height: 100px;
    object-fit: cover;
}

label.float-l {
    float: left;
    margin: 10px 0 0;
}

.form__login-url {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

    .form__login-url a {
        text-decoration: none;
        color: blue;
        font-size: 16px;
    }

.app {
    font-size: 14px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #e6e6e6;
}

.form__login {
    padding: 40px 0 0;
}

.login {
    margin: 0 auto;
    border-radius: 10px;
    border: 1.6px solid #ccc;
    text-align: center;
    background-color: #fff;
    width: 400px;
    padding: 10px 20px;
}

.login__title {
    font-size: 18px;
    color: #444;
    font-family: sans-serif;
    text-align: left;
    border-bottom: 1px solid #ccc;
    margin: -10px -20px 0;
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-login__input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    outline: none;
}

.form-login__input:focus {
        border-color: #8cc8f8;
        box-shadow: 2px 1px 6px 2px #aed7f8;

}

.m-t-20 {
    margin-top: 20px;
}

.login__button {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #5cb85c;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.login__check {
    display: flex;
    align-items: center;
    color: #444;
}

.login__check-input {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.login__link {
    text-decoration: none;
    color: #548cc5;
    display: flex;
    padding: 5px 0;
    align-content: flex-start;
}


/*Detail*/

.detail-img > .img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid;
}

.detail-img > .img:hover {
        border-radius: 15px;
        transform: scale(110%);
        margin: 20px 5px;
    }

.detail {
    background-color: #b7e2ff;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 5%;
    display: flex;
    font-size: 30px;
    width: 60%;
    min-height: 500px;
    margin: auto;
}

.detail-item__name {
    line-height: 50px;
    font-size: 50px;
}

.detail > nav {
    padding: 30px 30px 0;
}

.detail-item > div {
    display: flex;
    padding: 0 20px 40px;
}

.detail-item > div:last-child {
        display: flex;
        padding: 0 20px 10px;
}

.detail-item > .button {
    justify-content: center;
}

    .detail-item > .button > button {
        padding: 10px 5rem;
        border-radius: 10px;
        width: 100%;
        margin: 10px;
        margin-top: 5%;
        color: #fff;
        font-size: 2rem;
        border-color: transparent;
        line-height: 2.2rem;
    }

.detail-item > div > input {
    text-align: center;
    display: flex;
    margin: 0;
}

.detail-item > div > #number {
    font-size: 30px;
    text-align: center;
    width: 70%;
}

.detail-item > div > .change {
    width: 20%;
    background-color: #dee2e6;
    border-radius: 5%;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    border: 1px #f8f9fa;
}

.detail-item > .button > .tobasket {
    background-color: rgb(238, 45, 45);
}

    .detail-item > .button > .tobasket:hover {
        background-color: rgb(233, 13, 13);
    }

.detail-item > .button > .buy {
    background-color: rgb(74, 233, 74);
}

    .detail-item > .button > .buy:hover {
        background-color: rgb(9, 247, 9);
    }


/*dathang*/

.thanhtoan {
    position: relative;
    top: 0;
}

    .thanhtoan > ul {
        position: relative;
        display: inline-flex;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid rgb(212, 212, 212);
        border-radius: 2%;
    }

        .thanhtoan > ul > nav > div {
            align-items: center;
            font-size: 20px;
            padding-inline: 10%;
        }

        .thanhtoan > ul > .sp > div {
            width: 70%;
            display: flex;
        }

        .thanhtoan > ul > nav > div > .sp > img {
            width: 40%;
            padding: 0px;
        }

        .thanhtoan > ul > nav > div > div {
            padding-right: 5px;
        }

            .thanhtoan > ul > nav > div > div > input {
                width: 60px;
            }

        .thanhtoan > ul > nav > div > button {
            font-size: 20px;
            background-color: rgb(68, 209, 228);
            border-radius: 5px;
        }


