@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

/* BASIC THEME CONFIGURATION */

body {
    color: #797979;
    background: #eaeaea;
    font-family: 'Ruda', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
}

ul li {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

::selection {
    background: #4ECDC4;
    color: #fff;
}

::-moz-selection {
    background: #4ECDC4;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}


/* Bootstrap Modifications */

.modal-header {
    background: #4ECDC4;
}

.modal-title {
    color: white;
}

.btn-round {
    border-radius: 20px;
    -webkit-border-radius: 20px;
}

.accordion-heading .accordion-toggle {
    display: block;
    cursor: pointer;
    border-top: 1px solid #F5F5F5;
    padding: 5px 0px;
    line-height: 28.75px;
    text-transform: uppercase;
    color: #1a1a1a;
    background-color: #ffffff;
    outline: none !important;
    text-decoration: none;
}


/*Theme Backgrounds*/

.bg-theme {
    background-color: #4ECDC4;
}

.bg-theme02 {
    background-color: #ac92ec;
}

.bg-theme03 {
    background-color: #48cfad;
}

.bg-theme04 {
    background-color: #ed5565;
}


/*Theme Buttons*/

.btn-theme {
    color: #fff;
    background-color: #4ECDC4;
    border-color: #48bcb4;
}

    .btn-theme:hover,
    .btn-theme:focus,
    .btn-theme:active,
    .btn-theme.active,
    .open .dropdown-toggle.btn-theme {
        color: #fff;
        background-color: #48bcb4;
        border-color: #48bcb4;
    }

.btn-theme02 {
    color: #fff;
    background-color: #ac92ec;
    border-color: #967adc;
}

    .btn-theme02:hover,
    .btn-theme02:focus,
    .btn-theme02:active,
    .btn-theme02.active,
    .open .dropdown-toggle.btn-theme02 {
        color: #fff;
        background-color: #967adc;
        border-color: #967adc;
    }

.btn-theme03 {
    color: #fff;
    background-color: #48cfad;
    border-color: #37bc9b;
}

    .btn-theme03:hover,
    .btn-theme03:focus,
    .btn-theme03:active,
    .btn-theme03.active,
    .open .dropdown-toggle.btn-theme03 {
        color: #fff;
        background-color: #37bc9b;
        border-color: #37bc9b;
    }

.btn-theme04 {
    color: #fff;
    background-color: #ed5565;
    border-color: #da4453;
}

    .btn-theme04:hover,
    .btn-theme04:focus,
    .btn-theme04:active,
    .btn-theme04.active,
    .open .dropdown-toggle.btn-theme04 {
        color: #fff;
        background-color: #da4453;
        border-color: #da4453;
    }

.btn-clear-g {
    color: #48bcb4;
    background: transparent;
    border-color: #48bcb4;
}

    .btn-clear-g:hover {
        color: white;
    }

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #797979;
}


/*Helpers*/

.centered {
    text-align: center;
}

.goleft {
    text-align: left;
}

.goright {
    text-align: right;
}

.mt {
    margin-top: 25px;
}

.mb {
    margin-bottom: 25px;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}


/*Exclusive Theme Colors Configuration*/

.label-theme {
    background-color: #4ECDC4;
}

.bg-theme {
    background-color: #4ECDC4;
}

ul.top-menu > li > .logout {
    color: #f2f2f2;
    font-size: 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #64c3c2 !important;
    padding: 5px 15px;
    margin-right: 15px;
    background: #4ECDC4;
    margin-top: 15px;
}


/*sidebar navigation*/

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: #0e5e61;
}

    #sidebar h5 {
        color: #f2f2f2;
        font-weight: 700;
    }

    #sidebar ul li {
        position: relative;
    }

    #sidebar .sub-menu > .sub li {
        padding-left: 32px;
    }

        #sidebar .sub-menu > .sub li:last-child {
            padding-bottom: 10px;
        }





/*---*/

.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu,
ul.sidebar-menu li ul.sub {
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

    #sidebar > ul > li.active > ul.sub,
    #sidebar > ul > li > ul.sub > li > a {
        display: block;
    }

ul.sidebar-menu li ul.sub li {
    background: #2f323a;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

    ul.sidebar-menu li ul.sub li:last-child {
        border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
    }

    ul.sidebar-menu li ul.sub li a {
        font-size: 12px;
        padding: 6px 0;
        line-height: 35px;
        height: 35px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        color: #aeb2b7;
    }

        ul.sidebar-menu li ul.sub li a:hover {
            color: white;
            background: transparent;
        }

    ul.sidebar-menu li ul.sub li.active a {
        color: #4ECDC4;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        display: block;
    }

ul.sidebar-menu li {
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

    ul.sidebar-menu li.sub-menu {
        line-height: 15px;
    }

    ul.sidebar-menu li a span {
        display: inline-block;
        font-size: 16px;
        color: #fff;
    }

    ul.sidebar-menu li a {
        color: #aeb2b7;
        text-decoration: none;
        display: block;
        padding: 15px 0 15px 10px;
        font-size: 12px;
        outline: none;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        border-radius: 8px;
    }

        ul.sidebar-menu li a.active,
        ul.sidebar-menu li a:hover,
        ul.sidebar-menu li a:focus {
            background: #4ECDC4;
            color: #fff;
            display: block;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        ul.sidebar-menu li a i {
            font-size: 18px;
            padding-right: 6px;
        }

        ul.sidebar-menu li a:hover i,
        ul.sidebar-menu li a:focus i {
            color: #fff;
        }

        ul.sidebar-menu li a.active i {
            color: #fff;
        }

.mail-info,
.mail-info:hover {
    margin: -3px 6px 0 0;
    font-size: 11px;
}


/* MAIN CONTENT CONFIGURATION */

#main-content {
    margin-left: 210px;
}

.header,
.footer {
    min-height: 60px;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

.black-bg {
    background: #15353f;
    /*background: #22242a; */
    border-bottom: 1px solid #393d46;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}

a.logo {
    font-size: 24px;
    color: #f2f2f2;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}

    a.logo b {
        font-weight: 900;
    }

    a.logo:hover,
    a.logo:focus {
        text-decoration: none;
        outline: none;
    }

    a.logo span {
        color: #4ECDC4;
    }


/*notification*/

.top-menu {
    display: flex;
    float: right;
    align-items: center;
    height: 61px;
}

.notify-row {
    float: left;
    margin-top: 15px;
    margin-left: 92px;
}

    .notify-row .notification span.label {
        display: inline-block;
        height: 18px;
        width: 20px;
        padding: 5px;
    }

ul.top-menu > li > a {
    color: #666666;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #666666 !important;
    padding: 2px 6px;
    margin-right: 15px;
}

    ul.top-menu > li > a:hover,
    ul.top-menu > li > a:focus {
        border: 1px solid #b6b6b6 !important;
        background-color: transparent !important;
        border-color: #b6b6b6 !important;
        text-decoration: none;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        color: #b6b6b6 !important;
    }

.notify-row .badge {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
}
